{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}فروشگاه آنلاین اکسسوری{% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script defer src="{% static 'js/alpine.min.js' %}"></script>
    <script defer src="{% static 'js/htmx.min.js' %}"></script>

</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>