@font-face {
    font-family: "IRNazanin";
    src: url("../fonts/IRNazanin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: "IRDastNevis";
    src: url(../fonts/IRDastNevis.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-primary: #b10055;
    --color-primary-hover: #7f1347;

    --color-secondary: #4d759d;
    --color-secondary-hover: #004f86;

    --color-accent: #ffeded;
    --color-neutral: #4a4a4a;
    --color-background: #fff;

    --radius-shop: 3px;
    --spacing-section: 20px;
}

@layer base {
    body {
        font-family: "IRNazanin", sans-serif;
    }
}

@layer components {
    .btn-primary {
        @apply bg-primary px-section text-accent hover:bg-primary-hover border-[3px] border-transparent rounded-shop text-center align-middle w-auto h-[61px] cursor-pointer;
    }

    .btn-secondary {
        @apply bg-secondary px-section text-accent hover:bg-secondary-hover border-[3px] border-transparent rounded-shop text-center align-middle w-auto h-[61px] cursor-pointer;
    }

    .input-field {
        @apply border-[1px] rounded-shop px-section h-[52px] w-auto text-[#949494] text-[16px] border-neutral placeholder:text-[#949494] focus:border-secondary focus:outline-none;
    }

    .search-input {
        @apply px-section w-auto text-[#949494] text-[16px] border-neutral placeholder:text-[#949494] focus:border-secondary focus:outline-none mr-14 border-b-[1px] border-t-0 border-r-0 border-l-0 rounded-none;
    }

    .product-card__badge-container {
        @apply min-h-[18px] text-right text-neutral;
    }

    .product-card {
        @apply inline-block w-1/6 mr-[20px] mb-[18px] h-full;
    }

    .product-card-inner__image-container {
        @apply w-[100%] relative;
    }

    .product-card-inner__data-container {
        @apply mt-[3px] text-neutral;
    }

    .product-card__title {
        @apply text-neutral text-[14px] h-section;
    }

    .product-card__price {
        @apply text-neutral text-[14px] h-section
    }

    .desktop-nav__list {
        @apply m-0 p-0 relative flex justify-around items-center bg-[#ffeded];
    }

    .desktop-nav__items {
        @apply list-none m-0 flex h-[32px] py-1.5 cursor-pointer relative text-nowrap text-neutral;
    }

    .desktop-nav__submenu {
        @apply list-none m-0 p-5 flex flex-col absolute right-0 top-8 bg-background;
    }

    .value-props {
        @apply border-t-[1px] border-[#eaeaea] py-2.5 px-0;
    }

    .value-props__inner {
        @apply max-w-full px-[20px] py-0 my-0 mx-auto;
    }

    .value-props__container {
        @apply my-0 mx-[10px] flex justify-between;
    }
}

@layer utilities {}