@layer base {
    body {
        font-family: "Vazirmatn", sans-serif;
    }
}

@layer components {}

@layer utilities {}

@font-face {
    font-family: "Vazirmatn";
    src: url("../fonts/Vazirmatn[wght].woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
}