{% load static %}
<div class="value-props">
    <div class="value-props__inner">
        <div class="value-props__container">
            <div class="flex items-center bg-[#ffeded] py-8 px-6 w-[100%]">
                <div class="p-3">
                    <img src="{% static 'icons/truck_44x.png' %}" alt="کامیون پست">
                </div>
                <div>
                    <h2 class="text-primary text-xl mb-1">
                        ارسال سریع خرید شما
                    </h2>
                    <p class="text-neutral">
                        ارسال رایگان با خرید بالای 300 هزار تومان
                    </p>
                </div>
            </div>
            <div class="flex items-center bg-[#ffeded] py-8 px-6 w-[100%]">
                <div class="p-3">
                    <img src="{% static 'icons/Dress-Icon_44x.png' %}" alt="کامیون پست">
                </div>
                <div>
                    <h2 class="text-primary text-xl mb-1">
                        محصولات شیک و به روز
                    </h2>
                    <p class="text-neutral">
                        انواع بدلیجات و سنگ های قیمتی
                    </p>
                </div>
            </div>
            <div class="flex items-center bg-[#ffeded] py-8 px-6 w-[100%]">
                <div class="p-3">
                    <img src="{% static 'icons/customer-support_31fd82d8-492e-44dc-a22c-42928f682532_44x.png' %}"
                        alt="کامیون پست">
                </div>
                <div>
                    <h2 class="text-primary text-xl mb-1">
                        بهترین پشتیبانی
                    </h2>
                    <p class="text-neutral">
                        پشتیبانی 24 ساعته در تمام هفته
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="flex flex-col justify-center items-center ">
        <h3 class="text-center text-2xl text-neutral">
            حساب کاربری خود را ایجاد کنید
        </h3>

        <div class="inline-block mt-6">
            {% include 'components/button.html' with text='ثبت نام ' btn='btn-primary px-12' %}
        </div>
    </div>
    <br>
    <hr class="pt-6">
    <div class="flex justify-around py-3">

        <div>
            <h2 class="text-primary">
                پشتیبانی
            </h2>
            <div class="flex flex-col text-neutral">
                <a href="#">ارتباط با ما</a>
                <a href="#">سوالات پر تکرار</a>
                <a href="#">آدرس</a>


            </div>
        </div>
        <div>
            <h2 class="text-primary">
                دسترسی سریع
            </h2>
            <div class="flex flex-col text-neutral">
                <a href="#">صفحه اصلی</a>
                <a href="#">درباره ما</a>
                <a href="#">نقشه سایت</a>
            </div>
        </div>
        <div>

        </div>
        <div class="flex">
            <img src="{% static 'icons/instagram-alt-svgrepo-com(1)(1).svg' %}" alt="etta-icon">
            <img src="{% static 'icons/telegram-svgrepo-com(1)(1).svg' %}" alt="etta-icon">

        </div>
    </div>
    <div class="border-t-[1px] border-t-[#eaeaea] ">
        <h4 class="text-neutral text-center">
            تمامی حقوق مادی و معنوی این سایت متعلق به ----- می باشد.
        </h4>
    </div>