{% load static %}
<nav class="block">
    <ul class="desktop-nav__list">
        {% for category in navbar_category %}
        <li class="desktop-nav__items" x-data="{show : false}" @mouseenter="show = true" @mouseleave="show = false">
            <a href="#">

                {{category}}

            </a>

            <ul class="desktop-nav__submenu" x-show="show">
                {% for subcategory in category.children.all %}
                <li class="desktop-nav__item">
                    <a href="#">
                        {{subcategory}}
                    </a>
                </li>
                {% endfor %}


            </ul>
        </li>

        {% endfor %}

    </ul>

</nav>