<nav class="block">
    <ul class="desktop-nav__list">
        <li class="desktop-nav__items" x-data="{show : false}" @mouseenter="show = true" @mouseleave="show = false">
            <a href="#">
                انگشتر
            </a>
            <ul class="desktop-nav__submenu" x-show="show">
                <li class="desktop-nav__item">
                    <a href="#">
                        نگین دار
                    </a>
                </li>
                <li class="desktop-nav__item">
                    <a href="#">
                        بدون نگین
                    </a>
                </li>
            </ul>
        </li>
        <li class="desktop-nav__items" x-data="{show : false}" @mouseenter="show = true" @mouseleave="show = false">
            <a href="#">
                دست بند
            </a>
            <ul class="desktop-nav__submenu" x-show="show">
                <li class="desktop-nav__item">
                    <a href="#">
                        نگین دار
                    </a>
                </li>
                <li class="desktop-nav__item">
                    <a href="#">
                        بدون نگین
                    </a>
                </li>
            </ul>
        </li>
        <li class="desktop-nav__items" x-data="{show : false}" @mouseenter="show = true" @mouseleave="show = false">
            <a href="#">
                گردنبند
            </a>
            <ul class="desktop-nav__submenu" x-show="show">
                <li class="desktop-nav__item">
                    <a href="#">
                        نگین دار
                    </a>
                </li>
                <li class="desktop-nav__item">
                    <a href="#">
                        بدون نگین
                    </a>
                </li>
            </ul>
        </li>
        <li class="desktop-nav__items" x-data="{show : false}" @mouseenter="show = true" @mouseleave="show = false">
            <a href="#">
                پابند
            </a>
            <ul class="desktop-nav__submenu" x-show="show">
                <li class="desktop-nav__item">
                    <a href="#">
                        نگین دار
                    </a>
                </li>
                <li class="desktop-nav__item">
                    <a href="#">
                        بدون نگین
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</nav>