{% load static %}
<li class="w-1/3 ">
    <div class="product-card inline-block mb-[15px]">
        <div class="product-card__badge-container">

        </div>
        <div class="product-card__inner">
            <div class="product-card-inner__image-container">

                <a href="#">
                    <img class="block object-cover w-full h-auto"
                        src="{% static 'images/EasyToKeepBracelet_Gold-2_600x.progressive.jpg' %}" alt="test">
                </a>

                <button class=" btn-primary absolute bottom-0 left-0 right-0">
                    اضافه کردن به علاقمندی ها
                </button>

            </div>
            <div class="product-card-inner__data-container">
                <a href="#" class="decoration-0 bg-transparent text-neutral">
                    <h2 class="product-card__title">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </h2>
                </a>
                <div class="product-card__price-container">
                    <span class="product-card__price">
                        150 هزار تومان
                    </span>
                </div>

            </div>
        </div>
    </div>
</li>