{% load static %}

<div class=" w-full  mb-[18px] h-full">
    <div class=" product-card__badge-container">

    </div>
    <div class="flex flex-col">
        {% with image=product.images.all.0 %}

        <a href="{% url 'product_detail' product.slug  %}">
            <img class="object-cover" src="{{image.image.url}}" alt="{{image.alt_text }}">

        </a>
        <button class=" btn-secondary">
            اضافه کردن به علاقمندی ها
        </button>

        {% endwith %}


        <div class=" product-card__data-container">
            <div>
                <a href="#" class="decoration-0 bg-transparent text-neutral">
                    <h2 class="product-card__title">
                        {{product.title}}
                    </h2>
                    <p>
                        {{product.short_description}}
                    </p>
                </a>
            </div>
            <div>
                {% with variant=product.variants.all.0 %}

                <p class="product-card__price font-bold h-section pt-6 pr-1.5">
                    {{variant.price}} هزار تومان
                    {{variant.material}}
                </p>

                {% endwith %}
            </div>

        </div>
    </div>
</div>